* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.items {
  margin: 20px auto;
  border: 5px solid orange;
  width: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  display: flex;
}

.item > * {
  flex: 1;
}
