.clock {
  border: 4px solid grey;
  background-color: whitesmoke;
  padding: 5px;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  margin: 150px auto;

  position: relative;
}

.hand {
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  transform-origin: top;
  transform: rotate(180deg);
}

.hr {
  width: 5px;
  height: 33%;
  background-color: black;
}

.min {
  width: 5px;
  height: 42%;
  background-color: black;
}

.sec {
  width: 2.5px;
  height: 48%;
  background-color: red;
}
