:root {
  --header-color: #43281c;
  --card-color: #885a2d;
  --body-color: #e9e2dc;
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

header {
  background-color: var(--header-color);
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

header .brand-name {
  display: inline-block;
  color: var(--body-color);
}

header .brand-logo {
  width: 40px;
}

.cards {
  display: grid;
  grid-template-areas: 'items pay';
  justify-content: center;
  margin: 20px 0px;
}

.card {
  background-color: var(--card-color);
  border-radius: 5px;
  padding: 15px;
  width: 400px;
  border: 1px solid var(--card-color);
}

.items {
  grid-area: items;
  margin-right: 10px;
}

.pay {
  grid-area: pay;
  margin-left: 10px;
}

.items h2,
.pay-name h2,
.pay-visa h2 {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.single-item {
  margin-bottom: 30px;
  position: relative;
  display: grid;
  grid-template-areas: 'counter name price';
  grid-template-columns: auto auto 1fr;
}

.single-item:not(:last-child)::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: var(--body-color);
  bottom: -15px;
}

.counter-item-name {
  grid-area: counter;
}

.item {
  grid-area: name;
}

.item-price {
  grid-area: price;
}

.item-counter {
  padding-right: 20px;
}

.item-price {
  text-align: right;
}

.item-name {
  margin-bottom: 8px;
}

.item-details {
  color: var(--body-color);
}

.pay-name {
  margin-bottom: 20px;
}

.visa-input label {
  background-color: var(--card-color);
  position: absolute;
  top: -10px;
  left: 15px;
}

.visa-input input {
  border-radius: 15px;
  padding: 8px 0px;
  width: 100%;
  border: 1px solid var(--body-color);
  background-color: var(--card-color);
  margin-bottom: 20px;
}

.visa-input {
  position: relative;
  display: inline-block;
  width: 60%;
}

.table-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  width: 50%;
}

.table td {
  padding: 10px;
  border-bottom: 1px solid var(--card-color);
}

.table td:last-child {
  text-align: right;
}

.btn {
  width: 50%;
  margin: 20px auto;
}

.place-order {
  background-color: var(--card-color);
  border: none;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}
